@model IEnumerable<SerwisKsiazkowy.Models.Book>

<div class="col-sm-2">
    <div class="filter-menu">
        
        <form>
                <div class="menu-left">
                    <p>Autor</p>

                    <div id="summary">
                        <p class="collapse" id="collapseExample">
                            @foreach (var author in Model)
                            {

                                {

                                    <label class="form-check">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-label">
                                            @author.Author
                                        </span>
                                    </label>

                                }

                            }
                        </p>

                        <p><a class="collapsed" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseSummary"></a></p>
                    </div>
                </div>

                <hr class="style1">
                <div class="menu-left">
                    <p>Ocena</p>

                    <p>
                        <label class="form-check">
                            <input class="form-check-input" id="star_4" type="checkbox" value="">
                            <span class="form-check-label">
                                4 gwiazdki
                            </span>
                        </label>
                    </p>
                    <p>
                        <label class="form-check">
                            <input class="form-check-input" id="star_3" type="checkbox" value="">
                            <span class="form-check-label">
                                3 gwiazdki
                            </span>
                        </label>
                    </p>
                    <p>
                        <label class="form-check">
                            <input class="form-check-input" id="star_2" type="checkbox" value="">
                            <span class="form-check-label">
                                2 gwiazdki
                            </span>
                        </label>
                    </p>

                    <p>
                        <label class="form-check">
                            <input class="form-check-input" id="star_1" type="checkbox" value="">
                            <span class="form-check-label">
                                1 gwiazdka
                            </span>
                        </label>
                    </p>
                </div>

                <p><button type="submit" class="btn btn-primary  btn-block">Filtruj</button></p>
            </form>



    </div>
</div>