

@{
    //ViewBag.Title = "List";
    Layout = "~/Views/Shared/_BookLayout.cshtml";
}

<div role="tabpanel" class="down">
    @Html.Action("GenresMenu")

    @Html.MvcSiteMap().SiteMapPath();

    @Html.Partial("_BookList")
</div>



