
@{

    Layout = "~/Views/Shared/_BookLayout.cshtml";
}

<div role="tabpanel" class="down">

    <section>
        @RenderSection("SectionTitle", required: false)
        @RenderBody()
    </section>

  
    @Html.Partial("_LoginPartial")


</div>

@section scripts
{
    @RenderSection("scripts", required: false)
}
