@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Zablokowano";
}

<hgroup>
    <h1 class="text-danger">Zablokowano.</h1>
    <h2 class="text-danger">To konto zostało zablokowane z powodu zbyt dużej ilości nieudanych prób logowania. Spróbuj ponownie później.</h2>
</hgroup>

